.register,
.shapes {
  position: absolute;
  top: 583px;
  left: -96px;
  box-shadow: 17px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: var(--color-cornflowerblue);
  width: 627px;
  height: 554px;
}
.shapes {
  top: -112px;
  left: 984px;
  box-shadow: 19px 4px 4px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--color-orchid);
}
.content-item,
.frame-child4 {
  position: relative;
  display: none;
}
.content-item {
  width: 1228px;
  height: 835px;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-69xl);
  background: linear-gradient(180deg, #fffefe, rgba(255, 250, 250, 0));
  border: 2px solid var(--color-lavenderblush);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child4 {
  height: 63px;
  width: 142px;
  border-radius: var(--br-8xl);
  background-color: var(--color-mediumturquoise);
}
.about-me1 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-jetbrains-mono);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 116px;
  z-index: 1;
}
.frame-child5,
.group-button {
  border-radius: var(--br-8xl);
  background-color: var(--color-mediumturquoise);
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 11px var(--padding-base) var(--padding-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.group-button:hover,
.rectangle-parent3:hover {
  background-color: var(--color-lightseagreen);
}
.frame-child5 {
  align-self: stretch;
  width: 142px;
  position: relative;
  display: none;
}
.social1 {
  margin: 0;
}
.social-links1 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.group-div {
  width: 142px;
  border-radius: var(--br-8xl);
  background-color: var(--color-mediumturquoise);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 var(--padding-14xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;
}
.hobbies1 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-jetbrains-mono);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 101px;
  z-index: 1;
}
.frame-parent4,
.rectangle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 14px var(--padding-base) var(--padding-8xl);
  background-color: var(--color-mediumturquoise);
  border-radius: var(--br-8xl);
  justify-content: flex-start;
  z-index: 2;
}
.frame-parent4 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.profile-icon {
  height: 220px;
  width: 246px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.about,
.picture {
  display: flex;
  align-items: flex-start;
}
.picture {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 22px 0 var(--padding-xl);
}
.about {
  width: 818px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 38px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-jetbrains-mono);
}
.hi-my-name {
  margin: 0;
  width: 404px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.full-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 47px;
  box-sizing: border-box;
  max-width: 100%;
}
.span {
  font-size: var(--font-size-xs);
}
.vitente-ian-gabriel-container {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.content1,
.introduction,
.name {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.name {
  width: 641px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.content1,
.introduction {
  width: 818px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.content1 {
  position: absolute;
  top: 95px;
  left: 106px;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-69xl);
  background: linear-gradient(180deg, #fffefe, rgba(255, 250, 250, 0));
  border: 2px solid var(--color-lavenderblush);
  width: 1228px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 112px var(--padding-xl) 130px;
  gap: 44px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
.desktop-1 {
  width: 100%;
  height: 1024px;
  position: relative;
  background: linear-gradient(180deg, #1dd9b9, #f294c5);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .hi-my-name {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 675px) {
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .desktop-1 {
    height: auto;
    min-height: 1024;
  }
}
@media screen and (max-width: 450px) {
  .hobbies1,
  .social-links1 {
    font-size: var(--font-size-lgi);
  }
  .hi-my-name {
    font-size: var(--font-size-10xl);
  }
}
